
/* nav */

a:link, a:visited {
  color: white;
  font-size: 1.3rem;
}

.header__element:last-child{
  width: 15%;
  justify-content: space-between;
}

.links{
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 5rem;
}

.switch{
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}