@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root{
  --header-color: #0D52BA;
  --saved-color: #F50157;
}

button, a{
  cursor: pointer;
}

.flex-centered{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  padding: .2rem;
}

.icon{
  cursor: pointer;
}

/* home */
.countries-list{
  margin-top: 2rem;
}

/* table */

.country__flag{
  width: 60%;
  height: auto;
  border-radius: 10px;
  aspect-ratio: 3/2;
}

.heart-icon,
.arrow-icon{
  color: var(--header-color);
}

.heart-icon{
  font-size: 1.5rem;
}

.arrow-icon{
  font-size: 1.3rem;
}

.saved{
  color: var(--saved-color);
}

/* details page*/

.country__card{
  margin: 1rem auto;
}

.loading-icon{
  font-size: 2rem;
  transition: all .5s ease-in-out;
  animation: loading 1s infinite;
}

@keyframes loading {
  from{
    transform: rotate(0);
  } to {
    transform: rotate(360deg);
  }
}


